
@{
    ViewData["Title"] = @Localizer["title"];
}
<link rel="stylesheet" href="~/css/position.css" />
<script type="text/javascript" src="~/js/galery.js" defer></script>

<header class="hederSections">
    <h2>@ViewData["Title"]</h2>
</header>
<hr />
<section class="containerPosition">
    <article class="galery">
        <div class="bigImage"><img src="~/images/Section/Automation/sa51.jpg" alt="Duze zdjecie"></div>

        <div class="miniImg">
            <div><a href="~/images/Section/Automation/sa51.jpg" title="Obraz 1"><img src="~/images/Section/Automation/sa51.jpg"></a></div>
            <div><a href="~/images/Section/Automation/sa52.jpg" title="Obraz 2"><img src="~/images/Section/Automation/sa52.jpg"></a></div>
            <div><a href="~/images/Section/Automation/sa53.jpg" title="Obraz 3"><img src="~/images/Section/Automation/sa53.jpg"></a></div>
            <div><a href="~/images/Section/Automation/sa54.jpg" title="Obraz 4"><img src="~/images/Section/Automation/sa54.jpg"></a></div>
        </div>
    </article>

    <article class="description">
        @Localizer["description"]
    </article>

    <article class="download">
        <heder class="DownloadHeder">
            <h3>@Localizer["download"]</h3>
        </heder>
        <hr />
        <ul>
            <li><a href="~/doc/Automation/sa5.pdf"><img src="~/images/Section/iconPDF.png" />@Localizer["doc1"]</a></li>
            <li><a href="~/doc/Automation/norma_IEC61131.pdf"><img src="~/images/Section/iconPDF.png" />@Localizer["doc2"]</a></li>
            <li><a href="~/doc/Automation/instrukcja-TwinCAT.pdf"><img src="~/images/Section/iconPDF.png" />@Localizer["doc3"]</a></li>
            <li><a href="~/doc/Automation/instrukcja-uruchomienia-stanowiska.pdf"><img src="~/images/Section/iconPDF.png" />@Localizer["doc4"]</a></li>
        </ul>
    </article>

</section>
