@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    D109.Controllers.LanguageController.changeLanguage();
    ViewData["Title"] = @Localizer["title"];
}

<link rel="stylesheet" href="~/css/virtual.css" />
<script type="text/javascript" src="~/js/pannellum.js"></script>

<header class="hederSections">
    <h2>@ViewData["Title"]</h2>
</header>
<hr />

<div class="virtualGalery">
    <div id="panorama"></div>
    <script>
        pannellum.viewer('panorama', {
            "default": {
                "firstScene": "automation",
                "sceneFadeDuration": 1000,
                "autoLoad": true
            },

            "scenes": {
                "automation": {
                    "title": "@Localizer["automationTitle"]", 
                    "hfov": 150,
                    "pitch": -5,
                    "yaw": 105,
                    "compass": true,
                    "northOffset": 290,
                    "type": "equirectangular",
                    "panorama": "/images/Virtual/zdj1.jpg"
                    ,
                    "hotSpots": [
                        {
                            "pitch": -20,
                            "yaw": 30,
                            "type": "info",
                            "text": "@Localizer["automation1"]",
                            "URL": "/Section/Automation1"
                        },
                        {
                            "pitch": -20,
                            "yaw": -30,
                            "type": "info",
                            "text": "@Localizer["automation2"]",
                            "URL": "/Section/Automation2"
                        },
                        {
                            "pitch": -15,
                            "yaw": 50,
                            "type": "info",
                            "text": "@Localizer["automation3"]",
                            "URL": "/Section/Automation3"
                        },
                        {
                            "pitch": -15,
                            "yaw": -50,
                            "type": "info",
                            "text": "@Localizer["automation4"]",
                            "URL": "/Section/Automation4"
                        },
                        {
                            "pitch": -10,
                            "yaw": 65,
                            "type": "info",
                            "text": "@Localizer["automation5"]",
                            "URL": "/Section/Automation5"
                        },
                        {
                            "pitch": -3,
                            "yaw": 115,
                            "type": "info",
                            "text": "@Localizer["room"]",
                            "URL": "/Section/Room"
                        },
                        {
                            "pitch": -3,
                            "yaw": 190,
                            "type": "scene",
                            "text": "@Localizer["mechatronicTitle"]",
                            "sceneId": "mechatronic"
                        },
                        {
                            "pitch": -5,
                            "yaw": -85,
                            "type": "scene",
                            "text": "@Localizer["industryTitle"]",
                            "sceneId": "industry"
                        }
                    ]
                },

                "mechatronic": {
                    "title": "@Localizer["mechatronicTitle"]",
                    "hfov": 150,
                    "pitch": -10,
                    "yaw": 190,
                    "compass": true,
                    "northOffset": 310,
                    "type": "equirectangular",
                    "panorama": "/images/Virtual/zdj2.jpg"
                    ,
                    "hotSpots": [
                        {
                            "pitch": -5,
                            "yaw": 65,
                            "type": "info",
                            "text": "@Localizer["mechatronic1"]",
                            "URL": "/Section/Mechatronic1"
                        },
                        {
                            "pitch": -15,
                            "yaw": -80,
                            "type": "info",
                            "text": "@Localizer["mechatronic2"]",
                            "URL": "/Section/Mechatronic2"
                        },
                        {
                            "pitch": -15,
                            "yaw": -180,
                            "type": "info",
                            "text": "@Localizer["mechatronic3"]",
                            "URL": "/Section/Mechatronic3"
                        },
                        {
                            "pitch": -7,
                            "yaw": 113,
                            "type": "info",
                            "text": "@Localizer["mechatronic4"]",
                            "URL": "/Section/Mechatronic4"
                        },
                        {
                            "pitch": -15,
                            "yaw": -110,
                            "type": "info",
                            "text": "@Localizer["mechatronic5"]",
                            "URL": "/Section/Mechatronic5"
                        },
                        {
                            "pitch": -5,
                            "yaw": 10,
                            "type": "scene",
                            "text": "@Localizer["automationTitle"]",
                            "sceneId": "automation"
                        },
                        {
                            "pitch": -7,
                            "yaw": -58,
                            "type": "scene",
                            "text": "@Localizer["industryTitle"]",
                            "sceneId": "industry",
                            "targetYaw": 240
                        }
                    ]
                },

                "industry": {
                    "title": "@Localizer["industryTitle"]",
                    "hfov": 150,
                    "pitch": -20,
                    "yaw": 7,
                    "compass": true,
                    "northOffset": 130,
                    "type": "equirectangular",
                    "panorama": "/images/Virtual/zdj3.jpg",
                    "hotSpots": [
                        {
                            "pitch": -10,
                            "yaw": 0,
                            "type": "info",
                            "text": "@Localizer["industry1"]",
                            "URL": "/Section/Industry1"
                        },
                        {
                            "pitch": -10,
                            "yaw": -35,
                            "type": "info",
                            "text": "@Localizer["industry2"]",
                            "URL": "/Section/Industry2"
                        },
                        {
                            "pitch": 0,
                            "yaw": 55,
                            "type": "info",
                            "text": "@Localizer["industry3"]",
                            "URL": "/Section/Industry3"
                        },
                        {
                            "pitch": -20,
                            "yaw": 145,
                            "type": "info",
                            "text": "@Localizer["industry4"]",
                            "URL": "/Section/Industry4"
                        },
                        {
                            "pitch": -20,
                            "yaw": -150,
                            "type": "info",
                            "text": "@Localizer["industry5"]",
                            "URL": "/Section/Industry5"
                        },
                        {
                            "pitch": 0,
                            "yaw": -130,
                            "type": "scene",
                            "text": "@Localizer["automationTitle"]",
                            "sceneId": "automation"
                        }
                    ]
                }
            }
        });
    </script>

</div>
