
@{
    ViewData["Title"] = @Localizer["title"];
}
<link rel="stylesheet" href="~/css/section.css" />

<header class="hederSections"><h2>@ViewData["Title"]</h2></header>
<hr />
<section class="positionList">

    <a asp-area="" asp-controller="Section" asp-action="Automation1" class="positionBlock">
        <article class="positionImg">
            <img src="~/images/Section/Automation/sa11.jpg" />
        </article>
        <footer class="positionHeder">
            @Localizer["stand1"]
        </footer>
    </a>

    <a asp-area="" asp-controller="Section" asp-action="Automation2" class="positionBlock">
            <article class="positionImg">
                <img src="~/images/Section/Automation/sa21.jpg" />
            </article>
            <footer class="positionHeder">
                @Localizer["stand2"]
            </footer>
    </a>

    <a asp-area="" asp-controller="Section" asp-action="Automation3" class="positionBlock">
            <article class="positionImg">
                <img src="~/images/Section/Automation/sa31.jpg" />
            </article>
            <footer class="positionHeder">
                @Localizer["stand3"]
            </footer>
    </a>

    <a asp-area="" asp-controller="Section" asp-action="Automation4" class="positionBlock">
            <article class="positionImg">
                <img src="~/images/Section/Automation/sa41.jpg" />
            </article>
            <footer class="positionHeder">
                @Localizer["stand4"]
            </footer>
    </a>

    <a asp-area="" asp-controller="Section" asp-action="Automation5" class="positionBlock">
            <article class="positionImg">
                <img src="~/images/Section/Automation/sa51.jpg" />
            </article>
            <footer class="positionHeder">
                @Localizer["stand5"]
            </footer>
    </a>

</section>

