
@{
    ViewData["Title"] = @Localizer["title"];
}

<link rel="stylesheet" href="~/css/section.css" />

<header class="hederSections"><h2>@ViewData["Title"]</h2></header>
<hr />
<section class="positionList">

    <a asp-area="" asp-controller="Section" asp-action="Industry1" class="positionBlock">
        <article class="positionImg">
            <img src="~/images/Section/Industry/si11.jpg" />
        </article>
        <footer class="positionHeder">
            @Localizer["industry1"]
        </footer>
    </a>

    <a asp-area="" asp-controller="Section" asp-action="Industry2" class="positionBlock">
        <article class="positionImg">
            <img src="~/images/Section/Industry/si21.jpg" />
        </article>
        <footer class="positionHeder">
            @Localizer["industry2"]
        </footer>
    </a>

    <a asp-area="" asp-controller="Section" asp-action="Industry3" class="positionBlock">
        <article class="positionImg">
            <img src="~/images/Section/Industry/si31.jpg" />
        </article>
        <footer class="positionHeder">
            @Localizer["industry3"]
        </footer>
    </a>

    <a asp-area="" asp-controller="Section" asp-action="Industry4" class="positionBlock">
        <article class="positionImg">
            <img src="~/images/Section/Industry/si41.jpg" />
        </article>
        <footer class="positionHeder">
            @Localizer["industry4"]
        </footer>
    </a>

    <a asp-area="" asp-controller="Section" asp-action="Industry5" class="positionBlock">
        <article class="positionImg">
            <img src="~/images/Section/Industry/si51.jpg" />
        </article>
        <footer class="positionHeder">
            @Localizer["industry5"]
        </footer>
    </a>

</section>