
@{
    ViewData["Title"] = @Localizer["title"];
}

<link rel="stylesheet" href="~/css/section.css" />

<header class="hederSections"><h2>@ViewData["Title"]</h2></header>
<hr />
<section class="positionList">

    <a asp-area="" asp-controller="Section" asp-action="Mechatronic1" class="positionBlock">
        <article class="positionImg">
            <img src="~/images/Section/Mechatronic/sm11.jpg" />
        </article>
        <footer class="positionHeder">
            @Localizer["mechatronic1"]
        </footer>
    </a>

    <a asp-area="" asp-controller="Section" asp-action="Mechatronic2" class="positionBlock">
        <article class="positionImg">
            <img src="~/images/Section/Mechatronic/sm21.jpg" />
        </article>
        <footer class="positionHeder">
            @Localizer["mechatronic2"]
        </footer>
    </a>

    <a asp-area="" asp-controller="Section" asp-action="Mechatronic3" class="positionBlock">
        <article class="positionImg">
            <img src="~/images/Section/Mechatronic/sm31.jpg" />
        </article>
        <footer class="positionHeder">
            @Localizer["mechatronic3"]
        </footer>
    </a>

    <a asp-area="" asp-controller="Section" asp-action="Mechatronic4" class="positionBlock">
        <article class="positionImg">
            <img src="~/images/Section/Mechatronic/sm41.jpg" />
        </article>
        <footer class="positionHeder">
            @Localizer["mechatronic4"]
        </footer>
    </a>

    <a asp-area="" asp-controller="Section" asp-action="Mechatronic5" class="positionBlock">
        <article class="positionImg">
            <img src="~/images/Section/Mechatronic/sm51.jpg" />
        </article>
        <footer class="positionHeder">
            @Localizer["mechatronic5"]
        </footer>
    </a>

</section>